@model PagedList.PagedList<FPT_LIBRARY.Models.EF.ProductCategory>
@using PagedList.Mvc;
@using PagedList;

@{
    ViewBag.Title = "Book Genres";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>BOOK GENRES MANAGEMENT</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/admin/home">Home</a></li>
                    <li class="breadcrumb-item active">@ViewBag.Title</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">List @ViewBag.Title</h3>

            <div class="card-tools">
                <a href="/admin/productcategory/add" class="btn btn-primary">CREATE</a>
                <a href="#" class="btn btn-danger" id="BtnDeleteAll">DELETE</a>
            </div>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("Index", "ProductCategory", FormMethod.Get, new { }))
            {
                <div class="input-group">
                    @Html.TextBox("Searchtext", "", new { @class = "form-control", placeholder = "Type Something To Search" })
                    <div class="input-group-append">
                        <input type="submit" class="btn btn-info" value="Search" style="margin-left: 5px;">
                    </div>
                </div>
            }
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th><input type="checkbox" id="SelectAll" /></th>
                        <th class="text-center">ID</th>
                        <th class="text-center">Image</th>
                        <th class="text-center">Genre</th>
                        <th class="text-center">Last Modified</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        var i = ((ViewBag.Page - 1) * ViewBag.PageSize) + 1;
                        foreach (var items in Model)
                        {
                            <tr id="trow_@items.Id">
                                <td><input type="checkbox" id="cbkItem" value="@items.Id" /></td>
                                <td class="text-center">@i</td>
                                <td class="text-center"><img src="@items.Icon" width="50" /></td>
                                <td class="text-center">@items.Title</td>
                                <td class="text-center">@items.ModifiedDate.ToString("dd/MM/yyyy")</td>
                                <td class="text-center">
                                    <a href="/admin/productcategory/edit/@items.Id" class="btn btn-sm btn-warning">Edit</a>
                                    <a href="#" data-id="@items.Id" class="btn btn-sm btn-danger btnDelete">Delete</a>
                                </td>
                            </tr>
                            i++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="4">No value!!!</td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="row">
                <div class="col-6"></div>
                <div class="col-6" style="text-align:right;">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                </div>
            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->
</section>
<!-- /.content -->
@section scripts
    {
    <script>
        $(document).ready(function () {
            $('body').on('click', '#BtnDeleteAll', function (e) {
                e.preventDefault();
                var str = "";
                var checkbox = $(this).parents('.card').find('tr td input:checkbox');
                var i = 0;
                checkbox.each(function () {
                    if (this.checked) {
                        checkbox.attr('selected', 'checked');
                        var _id = $(this).val();
                        if (i == 0) {
                            str += _id;
                        } else {
                            str += "," + _id;
                        }
                        i++;
                    } else {
                        checkbox.attr('selected', '');
                    }
                });
                if (str.length > 0) {
                    var conf = confirm('Do you want to delete all selected?');
                    if (conf == true) {
                        $.ajax({
                            url: '/admin/productcategory/deleteAll',
                            type: 'POST',
                            data: { ids: str },
                            success: function (rs) {
                                if (rs.success) {
                                    location.reload();
                                }
                            }
                        });
                    }
                }
            });
            $('body').on('change', '#SelectAll', function () {
                var checkStatus = this.checked;
                var checkbox = $(this).parents('.card-body').find('tr td input:checkbox');
                checkbox.each(function () {
                    this.checked = checkStatus;
                    if (this.checked) {
                        checkbox.attr('selected', 'checked');
                    } else {
                        checkbox.attr('selected', '');
                    }
                });
            });
            $('body').on('click', '.btnDelete', function () {
                var id = $(this).data("id");
                var conf = confirm('Do you want to delete this product category?');
                if (conf == true) {
                    $.ajax({
                        url: '/admin/productcategory/delete',
                        type: 'POST',
                        data: { id: id },
                        success: function (rs) {
                            if (rs.success) {
                                $('#trow_' + id).remove();
                            }
                        }
                    });
                };
            });
            $('body').on('click', '.btnActive', function (e) {
                e.preventDefault();
                var btn = $(this);
                var id = $(this).data("id");
                $.ajax({
                    url: '/admin/productcategory/IsActive',
                    type: 'POST',
                    data: { id: id },
                    success: function (rs) {
                        if (rs.success) {
                            if (rs.isActive) {
                                btn.html("<i class='fa fa-check text-success'></i>");
                            } else {
                                btn.html("<i class='fas fa-times text-danger'></i>");
                            }
                        }
                    }
                });
            });
        });
    </script>
}