@model FPT_LIBRARY.Models.EF.Order

@{
    ViewBag.Title = "Order Detail";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Order Management</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/admin/home">Home</a></li>
                    <li class="breadcrumb-item active">Order Detail</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Order Detail</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Order ID</label>
                        <p clas="form-control">@Model.Code</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Customer Name</label>
                        <p clas="form-control">@Model.CustomerName</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Total Amount</label>
                        <p clas="form-control">@FPT_LIBRARY.Common.Common.FormatNumber(Model.TotalAmount, 0)</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Phone</label>
                        <p clas="form-control">@Model.Phone</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Create Day</label>
                        <p clas="form-control">@Model.CreateDate.ToString("dd/MM/yyyy")</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Email</label>
                        <p clas="form-control">@Model.Email</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Status</label>
                        <p clas="form-control">@(Model.TypePayment==1?"No Payment":"Paid")</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h2>List Product</h2>
                </div>
                <div class="col-12">
                    @Html.Action("Partial_Product","Order", new {id=Model.Id}) 
                </div>
            </div>
        </div>
    </div>



    <!-- /.card-body -->
    <div class="card-footer">


    </div>
    <!-- /.card-footer-->
    <!-- /.card -->

</section>
<!-- /.content -->
